#config .select_wrapper {
  width: 250px;
}

#config #export_secret,
#config #client_id,
#config #client_secret,
#config #org_name {
  width: 500px;
}

#config #runzero_url {
  width: 350px;
}

#config input.txt {
  width: 250px;
}

#config .track input.txt {
  width: 233px;
}

code {
  font-family: "Lucida Console", "Courier New", monospace;
}